<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--本配置在springcloud中是可有可无的内容！-->
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/> <!--开启二级缓存-->
    </settings>
    <typeAliases>
        <package name="com.gao.api"/>
    </typeAliases>
</configuration>